// 
// Call to action
// 

.call-to-action {
    position: relative;
    background-color: $gray-800;
    background: url('../assets/img/bg_board.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 2rem;

    &:before {
        content: '';
        position: absolute;
        background-color: mix($gray-900, $primary, 90%);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.8;
    }

    a {
        color: white;
        text-decoration: none;
    }

    @media (min-width: 768px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

}